<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <title>Document</title>
    </head>
    <body>
        <form method="POST">
            <lable for="">Title:</lable>
            <input type="text" name="title">
            <label for="">content</label>
            <input type="text" name="content">
            <label for="">slug:</label>
            <input type="text" name="slug">
            <button>submit</button>
        </form>
    </body>
</html>