<!DOCTYPE html>
<html lang="eng">
    <body>
        <form method="post">
            <h2>Registration page</h2>
            <label for="username">Username:</label>
            <input name="username" type="text" id="username">
            <label for="mobile">Mobile Number:</label>
            <input name="mobile" type="tel" id="mobile">
            <label for="email">Email ID:</label>
            <input name="email" type="email" id="email">
            <label for="address">Address:</label>
            <input name="address" type="text" id="address">
            <label for="password">Password:</label>
            <input type="password" name="password" id="'password">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>